@import "tailwindcss";

@theme {
  --color-primary: #4f46e5;
  --color-secondary: #ec4899;
}

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Inter", system-ui, -apple-system, sans-serif;
}
